
.src/backend/serviceAccountKey.json
.src/backend/.env
.DS_Store
.src/backend/serviceAccountKey.json
.src/backend/node_modules
.src/frontend/node_modules
swp391-database-firebase-adminsdk-fbsvc-098b1ea896.json
